html {
    min-height: 100%; /* Look, it's not fixed anymore! */

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body {
    flex-grow: 1;
}

#canvas{

    width: 100%; 
    height: 100%; 
    background-color: black;

}

@media (orientation:landscape) {
    .container-sm {
        max-width: 30%;
    }
}

@media (orientation:portrait) {
    .container-sm {
        max-width: 100%;
    }
}